<html>
  <head>
    <title>Article</title>
  </head>
  <body>
    {{#article}}
    <h1>{{ title }}</h1>
    <div>{{ content }}</div>
    {{/article}}
  </body>
  <button><a href="/articles/{{ article.id }}/edit">수정</a></button>
  <button><a href="/articles/{{ article.id }}/delete">삭제</a></button>
  <a href="/articles">글 목록</a>
  <a href="/article/new">글쓰기</a>
</html>
