<form action="/mail/send" method="post">
  <div>제목</div>
  <input type="text" name="subject" />
  <div>수신자</div>
  <input type="text" name="to" />
  <div>내용</div>
  <textarea name="text" cols="30" rows="10"></textarea>
  <button type="submit">제출</button>
</form>
