<form action="/person/create" method="post">
  <div>이름</div>
  <input type="text" name="name" />
  <div>나이</div>
  <input type="number" name="age" />
  <button type="submit">제출</button>
  <a href="/personList">사람 목록</a>
</form>
