<!DOCTYPE html>
<html lang="en">
  <html>
    <head>
      <meta charset="UTF-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    </head>
    <header></header>
    <body>
      <table style="border: 1px solid">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <td scope="col">TITLE</td>
            <td scope="col">CONTENT</td>
          </tr>
        </thead>
        <tbody>
          {{#articleList}}
          <tr>
            <th>{{ id }}</th>
            <td>
              <a href="/articles/{{ id }}">{{ title }}</a>
            </td>
            <td>{{ content }}</td>
          </tr>
          {{/articleList}}
        </tbody>
      </table>
      <a href="/article/new">글쓰기</a>
    </body>
  </html>
</html>
